# General
APP_NAME=application
SVC_HOST=localhost

# Frontend
FRONTEND_URL="http://${SVC_HOST}/"
FRONTEND_HOST=frontend

# Backend
BACKEND_URL="http://${SVC_HOST}/api/v1/"
BACKEND_HOST=backend

# Swagger UI
SWAGGER_UI_URL="http://${SVC_HOST}/swagger-ui/"

# Postgres
POSTGRES_DB=keycloak
POSTGRES_HOST=postgres
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=postgres

# Keycloak
KEYCLOAK_USER=admin
KEYCLOAK_PASSWORD=keycloak
KEYCLOAK_HOST=keycloak
KEYCLOAK_FRONTEND_URL=http://localhost/auth/
DB_ADDR=${POSTGRES_HOST}
DB_DATABASE=${POSTGRES_DB}
DB_USER=${POSTGRES_USER}
DB_PASSWORD=${POSTGRES_PASSWORD}
KC_REALM=app
KC_ROLE_NAME=APP_ADMIN
KC_USER_NAME=admin
KC_USER_PASSWORD=password
KC_FRONTEND_NAME=frontend
KC_BACKEND_NAME=backend
KC_CLIENT_BASE_URL=http://localhost/
KC_CLIENT_ROOT_URL=http://localhost/
KC_CLIENT_WEB_ORIGINS="*"
